<h1>Olá, @FirstName @LastName, seja bem-vindo(a)</h1>

@code {

    [Parameter]
    public string? FirstName { get; set; }

    [Parameter]
    public string? LastName { get; set; }

    [Parameter]
    public int Age { get; set; }

}